.topinfo{
	background-color: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 25px;
	position: absolute;
	top: 0;
	margin-left: 0;
	margin-bottom: 5px;
}
.topinfo ul{
	width: auto;
	list-style-type: none;
	white-space:nowrap;
	overflow: hidden;
	margin-left: 5%;
	margin-top: 0; 
	padding: 0;
}

.topinfo li{
	float:right; 
	margin-right:7%;  
	position: relative;
}

.topinfo li a{
    color:rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; 
}

.topinfo li a:hover{
    color: red;
	font-weight: bold;
}

.logoandsearch{
	padding: 40px 0 0 0;
	position:absolute;
	top: 30px; 
	left: 3%; 
	width:1200px;
}

.logoandsearch .logo{
	margin-left: 150px;
	width: 100px;
	height: 100px;
	float: left;
}

.logoandsearch .logo img{
	width: 100%;
	height: 100%;
}

.logoandsearch .search{
	margin-left: 130px;
	margin-top: 30px;
	float: left;
}

.logoandsearch .search input{
	float: left;
	height: 43px;
	width: 600px;
	outline: none;
	border: 3px solid red;
	padding-left: 10px;
	font-size: 16px;
}

.mainframe{
	margin: 0 50px 0 50px;
	position:absolute;
	top: 200px; 
	left: 3%; 
	background-color: rgba(0, 0, 0, 0.05);
	width: 1350px;
}

.mainframe .category{
	background-color: white;
	float: left;
	margin: 50px 0 0 50px;
	padding: 10px 30px 10px 30px;
	height: 580px;
	width: 90px;
}

.mainframe .category ul{
	width: auto;
	list-style-type: none;
	margin-top: 0; 
	padding: 0;
}

.mainframe .category li{
	height: 100px;
}

.mainframe li a{
    color:rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; 
	font-size: 17px;
}

.mainframe li a:hover{
    color: red;
	font-weight: bold;
}

.mainframe .bigshow{
	margin: 50px 50px 50px 0;
	padding: 0 0 0 50px;
	float: left;
	width: 1050px;
	height:600px;
	position: relative;
}

.mainframe .bigshow img{
	width: 100%;
	height: 100%;
}

.mainframe .word{
	background-color: #FF0000;
	float: left;
	width: 1250px;
	height: 50px;
	margin-left: 30px;
	padding-left: 30px;
}

.mainframe .selected{
	float: left;
	margin: 0 30px 30px 30px;
	padding: 30px;
}

.mainframe .selected .product{
	float: left;
	margin-right: 0px;
	margin-bottom: 10px;
	height: 300px;
	width: 300px;
}

.mainframe .selected .product img{
	height: 80%;
	width: 90%;
}

.mainframe .selected .product a{
	text-align: center;
	padding: 3px;
	text-decoration: none; 
}

.mainframe .selected .product a:hover{
	text-decoration: underline;
}

.mainframe .selected .product .price{
	color: #FF0000;
}

.mainframe .selected .product .name{
	padding-right: 10px;
	color: black;
}

.bottominfo{
	background-color: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 30px;
	position:absolute;
	top: 1700px; 
}